<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.mapper.SysStaffMapper">
  <resultMap id="BaseResultMap" type="com.xr.entity.SysStaff">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="educational_background" jdbcType="VARCHAR" property="educationalBackground" />
    <result column="political_appearance" jdbcType="VARCHAR" property="politicalAppearance" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="mid" jdbcType="INTEGER" property="mid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="staus" jdbcType="VARCHAR" property="staus" />
  </resultMap>
  <sql id="Base_Column_List">
    sid, name, sex, age, educational_background, political_appearance, phone, mid, username, 
    password, pid, create_time, create_id, staus
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_staff
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_staff
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xr.entity.SysStaff">
    insert into sys_staff (sid, name, sex, 
      age, educational_background, political_appearance, 
      phone, mid, username, 
      password, pid, create_time, 
      create_id, staus)
    values (#{sid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, 
      #{age,jdbcType=INTEGER}, #{educationalBackground,jdbcType=VARCHAR}, #{politicalAppearance,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{mid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createId,jdbcType=INTEGER}, #{staus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xr.entity.SysStaff">
    insert into sys_staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="educationalBackground != null">
        educational_background,
      </if>
      <if test="politicalAppearance != null">
        political_appearance,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="mid != null">
        mid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="staus != null">
        staus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="educationalBackground != null">
        #{educationalBackground,jdbcType=VARCHAR},
      </if>
      <if test="politicalAppearance != null">
        #{politicalAppearance,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="staus != null">
        #{staus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xr.entity.SysStaff">
    update sys_staff
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="educationalBackground != null">
        educational_background = #{educationalBackground,jdbcType=VARCHAR},
      </if>
      <if test="politicalAppearance != null">
        political_appearance = #{politicalAppearance,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mid != null">
        mid = #{mid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="staus != null">
        staus = #{staus,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xr.entity.SysStaff">
    update sys_staff
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      age = #{age,jdbcType=INTEGER},
      educational_background = #{educationalBackground,jdbcType=VARCHAR},
      political_appearance = #{politicalAppearance,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      mid = #{mid,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=INTEGER},
      staus = #{staus,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>